<h1>Definition of Quality in Software</h1>
<p>Has your boss ever asked you to increase your code quality? How do you even do that?</p>
<p>When my boss asked me, I was stumped. What does good code quality look like? How would I know quality code when I saw it? So I embarked on a journey to first define quality in the context of software development. I came up with a definition from two different perspectives, thinking quality would mean different things depending on whom you asked.</p>
<p>First, I thought about auser’s perspective. As a user of the software, quality is the standard of page load and user error count. It is also the consistency as measured against the previous version’s characteristics.</p>
<p>As a developer of the software, quality is the standard of readability, discoverability and leverage of existing code as measured against the previous version’s characteristics.</p>
<p>Now that I have a definition to work with, I can now set out on the journey to measure it.</p>
