${hasLayout('layouts/app.html')}
<meta itemprop="title" content="Bacarat Simulator">
<meta itemprop="summary" content="A Bacarat Simulator.">
<meta itemprop="should_publish" content="yes">
<meta itemprop="canonical" content="https://www.joeyguerra.com/bacarat.html">
<button id="deal" onclick="main()">Deal</button>
<button id="clear" onclick="window.output.innerHTML = ''">Clear</button>
<pre id="output"></pre>
<script>
    function choices (arr, { weights, count }) {
        const totalWeight = weights.reduce((acc, w) => acc + w, 0)
        const random = Math.random() * totalWeight
        const selected = []
        for (let i = 0; i < count; i++) {
            let sum = 0
            for (let j = 0; j < arr.length; j++) {
                sum += weights[j]
                if (random <= sum) {
                        selected.push(arr[j])
                        break
                }
            }
        }
        return selected
    }

    function deal () {
        const outcomes = ['Player', 'Banker', 'Tie']
        return choices(outcomes, { weights: [45.86, 44.62, 9.52], count: 1 })[0]
    }

    function simulate (strategy, rounds, bankroll) {
        /** Simulates a Baccarat game using a given strategy over a specified number of rounds */
        const results = []
        const bets = []
        let balance = bankroll

        for (let i = 0; i < rounds; i++) {
            const result = deal()
            results.push(result)

            let bet
            if (i === 0) {
                bet = 'Banker'  // Initial bet is Banker
            } else {
                const lastResult = results[results.length - 2]  // Previous round result
                bet = lastResult === 'Banker' ? 'Player' : 'Banker'
            }

            bets.push(bet)

            if (bet === result) {
                if (result === 'Banker') {
                    balance += 0.95 * 1  // Banker wins, 5% commission
                } else {
                    balance += 1  // Player wins
                }
            } else if (result !== 'Tie') {
                balance -= 1  // Lose
            }

            // Print progress every 100,000 rounds
            if ((i + 1) % 100000 === 0) {
                window.output.innerHTML += 'Round #' + i + 1 + ': Result=' + result + '; Bet=' + bet + ';Balance=' +  balance.toFixed(2) + '\\n'
            }
        }

        return [results, bets, balance]
    }

    function main (model) {
        const strategy = "opposite"  // This could be expanded for other strategies
        const rounds = 1000000  // Number of rounds to simulate
        const initialBankroll = 10000  // Initial bankroll
        const [results, bets, finalBalance] = simulate(strategy, rounds, initialBankroll)
        let output = ['\\n', 'Simulation complete.',
            'Final balance: ' + finalBalance.toFixed(2),
            'Last 10 Results: ' + results.slice(-10),
            'Last 10 Bets: ' + bets.slice(-10)
        ]

        window.output.innerHTML += output.join('\\n')
    }

</script>

