${hasLayout('layouts/app.html')}
<meta itemprop="title" content="Clue Sheet">
<meta itemprop="summary" content="Beat your friends and family at Clue using Clue Sheet to track, analyze, and win!">
<meta itemprop="should_publish" content="yes">
<style>
    #clueapp,
    #players {
        display: flex;
    }
    #players {
        overflow: scroll;
    }
    dl dd {
        border: solid 1px #f2f2;
    }
    dd {
        height: 2rem;
        justify-content: center;
    }
</style>
<nav>
    <button id="add-player">Add Player</button>
</nav>

<section id="clueapp">
    <aside id="cards">
        <dl>
            <dt>Suspects</dt>
            <dd>Col. Mustard</dd>
            <dd>Prof. Plum</dd>
            <dd>Mr. Green</dd>
            <dd>Mrs. Peacock</dd>
            <dd>Miss Scarlet</dd>
            <dd>Mrs. White</dd>
            <dt>Weapons</dt>
            <dd>Candlestick</dd>
            <dd>Knife</dd>
            <dd>Lead Pipe</dd>
            <dd>Pistol</dd>
            <dd>Rope</dd>
            <dd>Wrench</dd>
            <dt>Rooms</dt>
            <dd>Ballroom</dd>
            <dd>Billiard Room</dd>
            <dd>Conservatory</dd>
            <dd>Dining Room</dd>
            <dd>Hall</dd>
            <dd>Kitchen</dd>
            <dd>Library</dd>
            <dd>Lounge</dd>
            <dd>Study</dd>
        </dl>    
    </aside>
    <section id="players">
        <dl>
            <dt>Player 1</dt>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dt>Weapons</dt>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dt>Rooms</dt>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
            <dd></dd>
        </dl>
    </section>
</section>
<footer>
    <h1>Clue Sheet</h1>
    <p>Beat your friends and family at Clue using Clue Sheet to track, analyze, and win!</p>
    <p>Clue Sheet is a free web app that helps you track the cards in your hand and the cards in your opponents' hands. It also helps you analyze the cards in play to determine who has what cards and who is most likely to win.</p>
    <p>Clue Sheet is a work in progress. If you have any suggestions or feedback, please contact me via <a href="https://mastodon.social/@joeyguerra" rel="me">@joeyguerra@mastodon.social</a></p>
</footer>
<script type="module">
    import MakeKeyValueObservable from '/webapp/MakeKeyValueObservable.mjs'
    import MakeObservableList from '/webapp/MakeObservableList.mjs'
    class Card {
        constructor(name) {
            this.name = name
            this.potentiallyHas = false
            this.has = false
            this.asked = false
        }
    }
    class Suspect extends Card {
        constructor(name) {
            super(name)
            this.type = 'suspect'
        }
    }
    class Weapon extends Card {
        constructor(name) {
            super(name)
            this.type = 'weapon'
        }
    }
    class Room extends Card {
        constructor(name) {
            super(name)
            this.type = 'room'
        }
    }
    class Player {
        constructor(name) {
            this.name = name
            this.cards = MakeObservableList()
        }
    }
    class PlayerView {
        constructor(container, model, delegate) {
            this.container = container
            this.model = model
            this.delegate = delegate
            this.container.addEventListener('click', this, true)
        }
        handleEvent(e) {
            console.log(e.type, e)
        }
    }
    class ClueSheet {
        constructor(window, model) {
            this.window = window
            this.model = model
            this.views = []
            this.model.players.observe('push', this, true)
            this.template = this.window.document.querySelector('#players dl')
            this.addButton = this.window.document.querySelector('#add-player')
            console.log(this.addButton)
            this.addButton.addEventListener('click', this, true)
        }
        handleEvent(e) {
            if(this[e.type]) {
                this[e.type](e)
            }
        }
        click(e) {
            if(e.target === this.addButton) {
                this.model.players.push(new Player('Player ' + (this.model.players.length + 1)))
            }
        }
        update(key, old, value) {
            if('push') {
                const view = new PlayerView(this.template.cloneNode(true), value, this)
                this.views.push(view)
                this.window.document.querySelector('#players').appendChild(view.container)
            }
        }
        render() {
        }
    }

    const clue = new ClueSheet(window, {
        players: MakeObservableList(),
        cards: MakeObservableList()
    });
    clue.render();

</script>
