${hasLayout('layouts/index.html')}
<meta itemprop="should_publish" content="yes">
<style>
  #logo {
    display: block;
    background-color: black;
    border-radius: 50%;
    width: 115px;
    height: 115px;
  }

  pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font: normal normal 14px/16px "Courier New", Courier, Monospace;
    line-height: 1.0;
    margin-bottom: 1.6em;
    max-width: 100%;
    padding: .5em 1em;
    display: block;
    word-wrap: break-word;
    margin-left: 30px;
    overflow: auto;
    overflow-x: auto;
    white-space: pre-wrap;
    counter-reset: line;
  }

  pre:hover,
  pre:focus {
    border-left: 3px solid #338df3;
  }

  code {
    position: relative;
  }

  pre+button {
    position: absolute;
    top: 0;
    right: 0;
  }

  pre .line-number {
    user-select: none;
    float: left;
    margin: 0 1em 0 -1em;
    border-right: 1px solid;
    text-align: right;
  }

  pre .line-number span {
    display: block;
    padding: 0 .5em 0 1em;
  }

  pre .cl {
    display: block;
    clear: both;
  }

  .codeButton {
    background-color: transparent;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2x;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: Arial;
    font-size: 14px;
    padding: 2px 2px;
    text-decoration: none;
    margin: 2px 2px;
  }

  .codeButton:hover {
    background-color: transparent;
  }

  .codeButton:active {
    top: 1px;
  }
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
<header>
  <nav>
    <p>You can read my personal opinion at my <a href="blog/" title="Joey Guerra's Blog">blog</a>, get professaional info on my <a href="https://www.linkedin.com/in/joeyguerra" title="My LinkedIn Profile" rel="me">LinkedIn</a> profile, see code I've written on <a href="https://github.com/joeyguerra" title="Github Profile" rel="me">GitHub</a>, and follow my <a href="https://mastodon.social/@joeyguerra" title="Joey's Mastodon Profile" rel="me">Mastodon</a> feed.</p>
    <a href="/" id="logo" title="Joey Guerra">
      <img src="imgs/logo-2x.svg" />
    </a>
  </nav>
</header>
<section style="position: relative;">
  <p>
    Hi. I'm Joey Guerra. I'm an ex UT pole vaulter (<a href="https://www.youtube.com/watch?v=fnDRCPV1w-Y" title="1994 SWC Joey Guerra 17-4">1994 SWC</a>, <a href="https://www.youtube.com/watch?v=JH_cyEubNY0" title="1993 Oklahoma Indoor Pole Vaulting">1993 OK Indoor</a>) and Aerospace Engineering graduate. Worked at Johnson Space Center (JSC/NASA) doing thermal analysis on EVA tools and certifying Space Station hardware for space flight. I taught myself how to code and transitioned to the internet industry just in time for the .com bubble to burst. I went through a 5 year transformation from learning Perl, how the internet works, UNIX, and website design to getting my first job writing code for another company.
  </p>
  <p>
    My professional journey includes working at a startup telecommunications company, building a prisoner management system, legal case management software, and a video chat system for an internet dating startup; as well as working on enterprise systems for a couple of well known retail companies.
  </p>
  <p>
    After decades internalizing how to do Agile Software Development, I was hired at ThoughtWorks. My time there will always hold a special place in my heart. It was short, but validating. I met others who thought and felt like I do. There I saw true diversity. It was the perfect place for me at that time. I improved my self-motivation and leadership skills. I got more comfortable in my own skin and my own personality. In short, I got to know myself better.
  </p>
  <p>
    Now I'm at <a href="https://www.kaizen.io/people/" title="Kaizen.io, a software development company">Kaizen.io</a>, solving problems with my witty personality, insatiable curiosity and courage to ask difficult questions. As of 2022, I've enabled small teams to create tens of thousands of Purchase Orders (retail company), advised executives whether or not to continue capital investment on a poor performing product, and coached teams to deliver results. I know how to scale agile software development - you'll be surprised, and probably underwhelmed, when I tell you how I do it.
  </p>
  <p>
    Ask me about leadership, change management, agility, the MVC design pattern, Test Driven Development, Pair and Mob Programming, building empowered teams and <a
      href="https://www.youtube.com/watch?v=U65o4GhnLG8">DevOps</a> if you want to spark up a lively conversation.
  </p>
</section>
