${hasLayout('layouts/app.html')}
<meta itemprop="title" content="Ratings">
<meta itemprop="summary" content="Implement the MVC pattern for a ratings component">
<meta itemprop="canonical" content="https://www.joeyguerra.com/ratings.html">
<meta itemprop="should_publish" content="yes">
<link rel="stylesheet" href="/css/ratings.css">
<section>
  <h1>Ratings</h1>
  <h2>Clickable Rating<span id='clickable-rating'></span></h2>
  <div id='fundooRating'>
    <ul class='rating'>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
    </ul>
  </div>
  <h2>Readonly rating</h2>
  <div id='readonlyRating'>
    <ul class='rating'>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
      <li>★</li>
    </ul>
  </div>
</section>
  
<script type="module" src="/webapp/ratings.mjs"></script>