${hasLayout('layouts/app.html')}

<meta itemprop="title" content="Todo App">
<meta itemprop="summary" content="Implement the MVC pattern for a Todo App">
<meta itemprop="canonical" content="https://www.joeyguerra.com/todos.html">
<meta itemprop="should_publish" content="yes">
<section id="todoapp" action="/todos">
  <form id="header" action="/todos">
      <h1>todos</h1>
      <input id="new-todo" name="whatNeedsToBeDone" placeholder="What needs to be done?" type="text" autofocus>
      <button type="submit" id="addButton">Add</button>
  </form>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <!-- These are here just to show the structure of the list items -->
      <!-- List items should get the class editing when editing and completed when marked as completed -->
      <ul id="todo-list">
          <li>
              <div class="view">
                  <input class="toggle" type="checkbox" checked>
                  <label>Create a TodoMVC template</label>
                  <button class="destroy"></button>
              </div>
              <input class="edit" value="Create a TodoMVC template" type="text">
          </li>
      </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer id="footer">
      <!-- This should be 0 items left by default -->
      <span id="todo-count"><strong>0</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul id="filters">
          <li>
              <button>All</button>
          </li>
          <li>
              <button>Active</button>
          </li>
          <li>
              <button>Completed</button>
          </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button id="clear-completed">Clear completed (<span id="total">0</span>)</button>
  </footer>
</section>
<footer id="info">
  <p>Double-click to edit a todo</p>
  <a id="downloadLink" href="data:application/octet-stream;charset=utf-8,%5B%7B%22text%22%3A%22testing%22%2C%22done%22%3Afalse%7D%2C%7B%22text%22%3A%22more%20tests%22%2C%22done%22%3Afalse%7D%5D" download="todos.json">Download Todos as JSON</a>
</footer>
<script type="module" src="/webapp/todos.mjs"></script>
<link rel="stylesheet" href="/css/todos.css">